In [33]:
from pandas_datareader import data
import matplotlib.pyplot as plt
from datetime import datetime
%matplotlib inline
import pandas as pd

In [34]:
#world trading data API
# IOB3Di6kTa4nTT9YZQx6kM2aZ078vIwLJFrxwm3PkfC4nPXq63j4JgHmOwFR
start = '2003-01-01'
end = '2019-01-05'

In [35]:
# US equities index
SPY = pd.read_csv('~/market data repo/worldtradingdata-history-SPY.csv', parse_dates=['Date'],index_col='Date')
SPY = SPY['2000-01-01':]

In [36]:
SPY.head(6)

              Open   Close    High     Low    Volume
Date
2000-01-03  148.25  145.44  148.25  143.88   6407100
2000-01-04  143.98  139.75  143.98  139.69   7082800
2000-01-05  139.94  140.22  141.50  137.25  10057100
2000-01-06  139.63  139.56  141.48  138.88   5270800
2000-01-07  140.31  144.97  144.97  140.06   6875000
2000-01-10  146.25  146.38  146.91  145.03   5060700

In [37]:
df = pd.DataFrame(SPY['Close']) 
df['Daily returns'] = SPY['Close'].pct_change()
df['Cumulative returns'] = (SPY['Close']/SPY['Close'][0])-1
df.head()

             Close  Daily returns  Cumulative returns
Date
2000-01-03  145.44            NaN            0.000000
2000-01-04  139.75      -0.039123           -0.039123
2000-01-05  140.22       0.003363           -0.035891
2000-01-06  139.56      -0.004707           -0.040429
2000-01-07  144.97       0.038765           -0.003232

In [42]:
#initialize portfolio value
starting_cap = 10000

In [ ]:
# initialize portfolio with USD 10,000
portfolio_calc = []
starting_cap = 10000
portfolio_calc.append(starting_cap)

Ran into problems because to calculate the portfolio value, I had to run an regressive function on the array. 
To get around this, I decided to populate a new array with a loop. It probably isn't the most elegant solution... to be reviewed later!

In [ ]:
# calculate portfolio value for each day starting from Day 2 (Day 1 = initial investment)
i = 1

while i < df['Close'].count():
    calculation = portfolio_calc[i-1]*(df['Close'][i]/df['Close'][(i-1)])
    portfolio_calc.append(calculation)
    i = i + 1


# df['Portfolio'] = []
# i = 0
# for column in df['Portfolio']:
#     i = i + 1
#     df['Portfolio1'].iloc[:i] = i

In [ ]:
test_df = pd.DataFrame(portfolio_calc)

In [ ]:
# now to merge the two lists

# first a check that they are the same length

df['Close'].count() == test_df.count()

In [ ]:
df2 = pd.merge(df,test_df,how='outer')

In [ ]:
SPY['Investment'] = initial_alloc*(1 + SPY['Daily returns']).cumprod()
SPY.head()

In [19]:
arraytime = [[1,10],[2,20],[3,30],[4,40]]
arraytime = pd.DataFrame(arraytime,columns=('id','val'))
arraytime

   id  val
0   1   10
1   2   20
2   3   30
3   4   40

In [29]:
arraytime.loc[0, 'diff'] = arraytime.loc[0, 'val'] * 10

for i in range(1, len(arraytime)):
    arraytime.loc[i, 'diff'] = (arraytime.loc[i-1, 'diff']-arraytime.loc[i, 'val'])

print(arraytime)

   id  val   diff
0   1   10  100.0
1   2   20   80.0
2   3   30   50.0
3   4   40   10.0